@using MyChatApp.Client.Services
@inject IUserIdentificationService UserIdentificationService

@if(UserIdentificationService.IsGuestUser())
{
    <span>@UserIdentificationService.GetGuestUserName()</span> <span class="badge badge-pill badge-dark">Guest</span>
}
