@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MyChatApp.Client.Services;

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IGuestUserService GuestUserService

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Hello, @context.User.Identity.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        @if (GuestUserService.IsGuestUser)
        {
            <span>Hello <GuestUserNameDisplay />!</span>
            <button class="nav-link btn btn-link" @onclick="DisconnectGuestUser">Disconnect</button>
        }
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void DisconnectGuestUser()
    {
        GuestUserService.ClearGuestUser();
        Navigation.NavigateTo("");
        StateHasChanged();
    }
}
