@page "/about"

<h3>About MyChatApp</h3>

<p>
    Hi. I'm Mohammad Dehghan.
</p>

<p>
    This is my simple chat application, created using <a href="https://blazor.net">Blazor</a>
    and <a href="https://dotnet.microsoft.com/apps/aspnet/signalr">SignalR</a>.
</p>

