@implements IDisposable
@inject IJSRuntime JSRuntime

<div>
    <textarea @ref="editorTextArea" class="form-control" rows="3"
              @bind="Text" @bind:event="oninput"
              placeholder="@PlaceholderText" />
    <div class="editor-controls-container">
        <a @ref="emojiButton" class="editor-control">😀</a>
        <a class="editor-control"><span class="oi oi-image editor-control-open-iconic"></span></a>
        <button type="button" class="editor-send btn btn-success" @onclick="OnSend">Send</button>
    </div>
</div>

@code {
    ElementReference editorTextArea;
    ElementReference emojiButton;

    private string _text;

    [Parameter]
    public string Text
    {
        get => _text;
        set
        {
            if (_text == value)
                return;
            _text = value;
            TextChanged.InvokeAsync(_text);
        }
    }

    [Parameter] public string PlaceholderText { get; set; }

    [Parameter] public EventCallback<string> TextChanged { get; set; }
    [Parameter] public EventCallback OnSend { get; set; }

    DotNetObjectReference<MessageEditor> _thisRef;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _thisRef = DotNetObjectReference.Create(this);
            JSRuntime.InvokeVoidAsync("createEmojiPicker", emojiButton, editorTextArea, _thisRef, "OnUpdated");
        }
        base.OnAfterRender(firstRender);
    }

    [JSInvokable]
    public void OnUpdated(string text)
    {
        Text = text;
    }

    public void Dispose()
    {
        if (_thisRef != null)
        {
            _thisRef.Dispose();
            _thisRef = null;
        }
    }
}
